execute pathogen#infect()

"Set true colors, if terminal has support
if has('nvim') || has('termguicolors')
  set termguicolors
endif

"Use vim one color scheme
colorscheme onedark

"Set a dark background
set bg=dark

" Use 2 spaces for tabs
set tabstop=2
set shiftwidth=2
set expandtab

